@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

#root {
  font-family: "Roboto Condensed", sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "DM Serif Text", serif;
}

h1 {
  font-size: clamp(2rem, 4vw, 3rem) !important;
}

h2 {
  font-size: clamp(1.75rem, 3vw, 2.25rem) !important;
}

h3 {
  font-size: clamp(1.5rem, 2vw, 1.875rem) !important;
}

h4 {
  font-size: clamp(1.25rem, 1.5vw, 1.5rem) !important;
}

h5 {
  font-size: clamp(1.1rem, 1.2vw, 1.25rem) !important;
}

p {
  font-size: clamp(1rem, 1vw, 1.1rem) !important;
}

small {
  font-size: clamp(0.85rem, 1vw, 0.875rem);
  font-weight: 300;
}

.card {
  padding: 2em;
}
